<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    ecommerce
</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles.css">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<script>
  function myhref(web){
     window.location.href = web;}

function dd(i){

   var s = document.getElementsByClassName("sss")[i].innerText;
   var link = `/desc?name=${s}`;

myhref(link);

}

</script>
    <body style="background-color: rgb(255, 255, 255);">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">shopiZ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarcontent">
            <ul class="navbar-nav me-5 ">
              <li class="nav-item mx-lg-5">
                <a class="nav-link active" aria-current="page" href="#">Home </a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalForm" href="#">login</a></li>
                  
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalFormS" href="#">Sign up</a></li>
                </ul>
              </li>
              <li class="nav-item mx-lg-5">
                <a class="nav-link " aria-current="page" href="#">Orders</a>
              </li>
              <li class="nav-item mx-lg-4">
                <a class="nav-link  " aria-current="page" data-bs-toggle="modal" data-bs-target="#CartmodalForm" href=""><i class="fa fa-shopping-cart "></i></a>
              </li>
            </ul>
            <div class="row w-100">
            <form  action="/get"method="GET" class="d-flex col-lg-10 col-md-12 col-sm-12 col-xm-12">
              <input class="form form-control me-0 "  type="search" placeholder="Search" aria-label="Search"name="tag">
              <button class="btn btn-success bg-success btn-light" type="submit"><i class="fa fa-search "style="color:white"></i></button>
            </form>
          </div>
          
          

          </div>
        </div>
      </nav>
      <!-- slides-->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class=" carousel-item active">
            <img src="https://qph.fs.quoracdn.net/main-qimg-e736d9311da0a67794a7e9f473127f56" class=" i d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/2021-10/beautiful-asian-woman-carrying-colorful-bags-shopping-online-with-mobile-phone.jpg" class=" i d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://thumbs.dreamstime.com/b/supermarket-cart-loaded-cardboard-boxes-sales-goods-concept-trade-commerce-online-shopping-high-delivery-order-134531493.jpg" class=" i d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- category section -->
      
     <div class="categorybx">
      <div class="card box">
        <img src="https://img.freepik.com/free-photo/portrait-handsome-smiling-stylish-young-man-model-dressed-jeans-clothes-fashion-man_158538-5024.jpg?size=626&ext=jpg" class="card-img-top h-50" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Clothes,Faishon</h5>
          <p class="card-text">Styles for Men and Women | Up to 70% off</p>
          <a href="/clothes" class="btn btn-primary">See all offers></a>
        </div>
      </div>
      
      <div class="card  box">
        <img src="https://images.unsplash.com/photo-1589400066718-871249af5f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bW9iaWxlJTIwYW5kJTIwbGFwdG9wfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="card-img-top h-50" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">latest Mobiles,Laptops,LED | Up to 30% off</p>
          <a href="/electronics" class="btn btn-primary">See all offers></a>
        </div>
      </div>
      <div class="card box">
        <img src="https://www.ocregister.com/wp-content/uploads/2020/01/636337794-1.jpg?w=525" class="card-img-top h-50" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Books</h5>
          <p class="card-text">Book Store-Wide selection| Up to 50% off</p>
          <a href="/books" class="btn btn-primary">See all offers></a>
        </div>
      </div>

     </div>

      <!-- Modal -->
    <div class="modal fade mt-4" id="CartmodalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="overflow-y: scroll;height: 700px;">
            
              <div class="C_iteM container mt-1">
                <div class="card mb-3" style="max-width: 100%;height: 150px;cursor: pointer;box-shadow: 0 2px 5px rgb(218, 216, 216);border:none;">
                  <div class="row g-0"style="height:150px;">
                    <div class="col-md-3 px-2">
                      <img src="https://images-eu.ssl-images-amazon.com/images/I/81p+EkIvUUL._AC._SR360,460.jpg" class="img-fluid rounded-start image_item_cart" alt="...">
                    </div>
                    <div class="col-md-9">
                      <div class="card-body" style="font-family: Poppins;">
                        <h5 class="card-title"style="font-family: Poppins;font-size:26px;">Redmi 9A Sport</h5>
                        <div class="quantity" style="width:300px;height:50px;display: flex;line-height: 45px;margin-top:10px;">   <div class="Select-Location"style="">Quantity</div>
                        <!-- quantity -->
                        <select class="Rectangle-2236" style="margin-left:6px;width: auto;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          
                        </select>
                        </div>
                        <div class="wrap" style="display: flex;">
                          <div class="price" style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;6999</div>
                          <button type="button" class="btn btn-success w-50  "style="position:relative;left:30%">Checkout</button>
                      </div>
                      </div>
                    
                     
                    </div>
                  </div>
            
              </div>
        
        
        
            </div>

            <div class="C_iteM container mt-1">
              <div class="card mb-3" style="max-width: 100%;height: 150px;cursor: pointer;box-shadow: 0 2px 5px rgb(218, 216, 216);border:none;">
                <div class="row g-0"style="height:150px;">
                  <div class="col-md-3 px-2">
                    <img src="https://images-eu.ssl-images-amazon.com/images/I/81p+EkIvUUL._AC._SR360,460.jpg" class="img-fluid rounded-start image_item_cart" alt="...">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body" style="font-family: Poppins;">
                      <h5 class="card-title"style="font-family: Poppins;font-size:26px;">Redmi 9A Sport</h5>
                      <div class="quantity" style="width:300px;height:50px;display: flex;line-height: 45px;margin-top:10px;">   <div class="Select-Location"style="">Quantity</div>
                      <!-- quantity -->
                      <select class="Rectangle-2236" style="margin-left:6px;width: auto;">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        
                      </select>
                      </div>
                      <div class="wrap" style="display: flex;">
                        <div class="price" style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;6999</div>
                        <button type="button" class="btn btn-success w-50  "style="position:relative;left:30%">Checkout</button>
                    </div>
                    </div>
                  
                   
                  </div>
                </div>
          
            </div>
      
      
      
          </div>

          <div class="C_iteM container mt-1">
            <div class="card mb-3" style="max-width: 100%;height: 150px;cursor: pointer;box-shadow: 0 2px 5px rgb(218, 216, 216);border:none;">
              <div class="row g-0"style="height:150px;">
                <div class="col-md-3 px-2">
                  <img src="https://images-eu.ssl-images-amazon.com/images/I/81p+EkIvUUL._AC._SR360,460.jpg" class="img-fluid rounded-start image_item_cart" alt="...">
                </div>
                <div class="col-md-9">
                  <div class="card-body" style="font-family: Poppins;">
                    <h5 class="card-title"style="font-family: Poppins;font-size:26px;">Redmi 9A Sport</h5>
                    <div class="quantity" style="width:300px;height:50px;display: flex;line-height: 45px;margin-top:10px;">   <div class="Select-Location"style="">Quantity</div>
                    <!-- quantity -->
                    <select class="Rectangle-2236" style="margin-left:6px;width: auto;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      
                    </select>
                    </div>
                    <div class="wrap" style="display: flex;">
                      <div class="price" style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;6999</div>
                      <button type="button" class="btn btn-success w-50  "style="position:relative;left:30%">Checkout</button>
                  </div>
                  </div>
                
                 
                </div>
              </div>
        
          </div>
    
    
    
        </div>
        <div class="C_iteM container mt-1">
          <div class="card mb-3" style="max-width: 100%;height: 150px;cursor: pointer;box-shadow: 0 2px 5px rgb(218, 216, 216);border:none;">
            <div class="row g-0"style="height:150px;">
              <div class="col-md-3 px-2">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/81p+EkIvUUL._AC._SR360,460.jpg" class="img-fluid rounded-start image_item_cart" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body" style="font-family: Poppins;">
                  <h5 class="card-title"style="font-family: Poppins;font-size:26px;">Redmi 9A Sport</h5>
                  <div class="quantity" style="width:300px;height:50px;display: flex;line-height: 45px;margin-top:10px;">   <div class="Select-Location"style="">Quantity</div>
                  <!-- quantity -->
                  <select class="Rectangle-2236" style="margin-left:6px;width: auto;">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    
                  </select>
                  </div>
                  <div class="wrap" style="display: flex;">
                    <div class="price" style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;6999</div>
                    <button type="button" class="btn btn-success w-50  "style="position:relative;left:30%">Checkout</button>
                </div>
                </div>
              
               
              </div>
            </div>
      
        </div>
  
  
  
      </div>
      <div class="C_iteM container mt-1">
        <div class="card mb-3" style="max-width: 100%;height: 150px;cursor: pointer;box-shadow: 0 2px 5px rgb(218, 216, 216);border:none;">
          <div class="row g-0"style="height:150px;">
            <div class="col-md-3 px-2">
              <img src="https://images-eu.ssl-images-amazon.com/images/I/81p+EkIvUUL._AC._SR360,460.jpg" class="img-fluid rounded-start image_item_cart" alt="...">
            </div>
            <div class="col-md-9">
              <div class="card-body" style="font-family: Poppins;">
                <h5 class="card-title"style="font-family: Poppins;font-size:26px;">Redmi 9A Sport</h5>
                <div class="quantity" style="width:300px;height:50px;display: flex;line-height: 45px;margin-top:10px;">   <div class="Select-Location"style="">Quantity</div>
                <!-- quantity -->
                <select class="Rectangle-2236" style="margin-left:6px;width: auto;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  
                </select>
                </div>
                <div class="wrap" style="display: flex;">
                  <div class="price" style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;6999</div>
                  <button type="button" class="btn btn-success w-50  "style="position:relative;left:30%">Checkout</button>
              </div>
              </div>
            
             
            </div>
          </div>
    
      </div>



    </div>
                    
                
              </div>
          </div>
      </div>
  </div>


    <!-- Modal -->
    <div class="modal fade mt-4" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login your account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/account" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="Login_password" placeholder="Password" />
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" />
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <div class="modal-footer d-block">
                            <p class="float-start" data-bs-toggle="modal" data-bs-target="#modalFormS">Not yet account <a href="#">Sign Up</a></p>
                            <button type="submit" class="btn btn-warning float-end">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--signup-->
    <div class="modal fade mt-4" id="modalFormS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Register your account</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/getDetail" method="POST">
                      <div class="mb-3">
                          <label class="form-label">Full Name</label>
                          <input type="text" class="form-control" id="fullname" name="fullname" placeholder="full name" />
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="email address" />
                      </div>
                      <div class="mb-3">
                          <label class="form-label">State</label>
                          <input type="text" class="form-control" id="state" name="state" placeholder="state" />
                      </div>
                      <div class="mb-3">
                          <label class="form-label">city</label>
                          <input type="text" class="form-control" id="text" name="text" placeholder="city" />
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input type="assword" class="form-control" id="pass" name="assword" placeholder="password" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label"> Confirm Password</label>
                        <input type="Password" class="form-control" id="pass" name="onfirmpassword" placeholder=" confirm password" />
                    </div>
                      
                      <div class="modal-footer d-block">
                          <p class="float-start" data-bs-toggle="modal" data-bs-target="#modalForm">Already have an account? <a href="#">login</a></p>
                          <button type="submit" class="btn btn-warning float-end">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <!-- item section-->

  <div class="items">
     


  </div>
    <div class="mostview">
     <span class="mv">products </span>
 
            <div class="view" style="display: flex;margin-left:4%;margin-top: 2%;overflow-x: scroll;">
          <% for(var i =0;i<data.length;i++){%>
          
       
       
            <div class="card"onclick ="dd(<%=i%>)" style="width: 18rem;">
              <div style="display: flex;justify-content: center;"><img src="<%=data[i].image%>" class="card-img-top"style="height: 190px;width: 170px;" alt="..."></div>
              <div class="card-body" >
               <div style="display: flex;justify-content: center;"> <h5 class="card-title sss text-center"><%=data[i].title%></h5></div>
               <div style="display: flex;justify-content: center; height:45px;overflow-y: hidden;"> <p class="card-text text-center"style="font-size:14px;"><%=data[i].desc%>
                </p></div>
                <div class="price text-center "style="font-family:Arial, Helvetica, sans-serif;font-size:25px;color: brown;">&#8377;<%=data[i].price%></div>
              </div>
            </div>
            <%}%>
          </div>
          
          </div>
 
             
   
          
        
        
    <!--footer-->
    <div class="footer" style="width: 100%;height: 200px;background: rgb(16, 17, 22);margin-top: 1%;">

<div class="about text-light">
  <ul style="list-style: none">
    <li>Get to Know about</li>
    <li>about</li>
    <li>services</li>
    <li><a href="/seller">Sell on shopiZ</a></li>
  </ul>
</div>
    </div>
  
   


          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     </body>
</html>